<!DOCTYPE HTML>

<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>{% block title %}Who's the ugliest!{% endblock %}</title>
		
	</head>
    <body>
  	  <div class="navbar navbar-inverse" role="navigation">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target=".navbar-collapse">
				<span class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Project name</a>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li class="active"><a href="#">Home</a></li>
				<li><a href="#about">About</a></li>
				<li><a href="#contact">Contact</a></li>
			</ul>
		</div>
		<!--/.nav-collapse -->
	</div>
  	
  	<div class="container">
      	<!--corps -->
        {% block body %}{% endblock %}
        <!--/corps -->
   </div>
   
        <script src="//code.jquery.com/jquery-1.9.1.js"></script>
	<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
	{% stylesheets filter='cssrewrite,?yui_css' '@MopaBootstrapBundle/Resources/bootstrap/dist/css/*'%}
		<link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
	{% endstylesheets %}

	{% javascripts '@MopaBootstrapBundle/Resources/bootstrap/js/*' %}
        	<script src="{{ asset_url }}"></script>
    {% endjavascripts %}

	{% block javascripts %}{% endblock %}
    
    <link rel="stylesheet" href="../../app/Resources/views/css/styles.css">
    
    
    
    <div class="container">
    	© Maxime Bourdel 2014 Tous droits réservés
    </div>
  
  </body>
</html>


