{% extends "::layout.html.twig" %} 

{% block body %}

{# On utilise une variable temporaire, qu'on définit à false si elle n'est pas déjà définie #}
{% set accueil = accueil|default(false) %}

    <h2>
      VOICI LES NOMS
    </h2>
    
      {% for person in list_persons %}
       <div class="col-lg-2">
        {% if person.photo is not null %}
            <img style="max-width: 150px;"
				src="{{ asset(person.photo.webPath) }}"
  				alt="{{ person.photo.alt }}"
			/> 
        {% endif %} 
        {{ person.surname }} {{ person.name }}
        </div>
      {% endfor %}
     
   


{% endblock %}
