{% extends "::layout.html.twig" %} 

{% block body %}
    <h2>
      VOICI LES NOMS
    </h2>
    
      {% for person in list_persons %}
       <div class="col-lg-2">
        {% if person.photo is not null %}
            <img style="max-width: 150px;"
				src="{{ asset(person.photo.webPath) }}"
  				alt="{{ person.photo.alt }}"
			/> 
        {% endif %} 
        {{ person.surname }} {{ person.name }}
        </div>
      {% endfor %}
     
   

<script> $('#compare').addClass('active')</script>
{% endblock %}


{% block javascripts %}
    <script> $('#compare').addClass('active')</script>
{% endblock %}
