{% extends "::layout.html.twig" %} 

{% block body %}
    <h2>
      Here are the all the competitors
    </h2>
    
    <section class="row placeholders">
        {% for person in list_persons %}
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6"
             style="border-radius: 6px; line-height: 40px; text-align: center; padding-top: 8px;"
        >
            {% if person.photo is not null %}
                <img style="max-width: 150px;"
    				src="{{ asset(person.photo.webPath) }}"
      				alt="{{ person.photo.alt }}"
      				class="img-circle"
    			/> 
            {% endif %}
            <div class="col-lg-12" style="max-height: 40px;" >
                {{ (person.surname ~ ' ' ~ person.name)[:17]}}
            </div>   
        </div>
      {% endfor %}
    </section>

{% endblock %}


{% block javascripts %}
    <script> $('#list').addClass('active')</script>
{% endblock %}